.cellType{
  width: 15px;
}
  
.cellType p{
  margin: 0;
}
  
.cellName{
  width: 60%;
}

.cellName p {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 45px;
}

.cellInfo p {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 45px;
}

#cellGroupBtns{
  align-items: center;
  height: 45px;
}
  
td p{
  margin: 0;
}